 <!--$ Footer -->
<!--$ -------------------------------------------------- -->
<br><footer class='text-white bg-dark'>
    <div class="container">
        <div class="row text-center py-2">

            <div class='col-sm-3 my-auto'>
                <image alt='Ingeniería electrónica Unexpo Barquisimeto' src='/images/Logo IEL.png' class='img-fluid' width='120px' height='120px'></image>
            </div>

            <div class="col-sm-3 my-auto">
                <p>Desarrollado por:</p>
                <p style="color: #9a9da0;">Alejandro Aguilar</p>
                <p style="color: #9a9da0;">Jose Salvador Peroza</p>
            </div>

            <div class='col-sm-3 my-auto'>
                <p>Accede también al sitio oficial de la UNEXPO</p>
                <p><a href='http://www.bqto.unexpo.edu.ve'>bqto.unexpo.edu.ve</a></p>
            </div>

            <div class='col-sm-3 my-auto'>
                <image alt='promo 56 Unexpo Barquisimeto' src='/images/Promo56190.png' class='img-fluid' width='120px' height='120px'></image>
            </div>
    
        </div>
        
        <div class="row text-center">
            <div class='col-sm-12 my-auto'>
                <p style="font-size: 15px"> &#9888; Aviso legal: Unexpocloud no se hace responsable por el material publicado ni por el uso del mismo.  </p> 
            </div>
        </div>
    </div>

    <div class="col-12 text-center py-1" id='footer-copyright'>
           <h5>&copy; Unexpocloud 2020 </h5>
           
    </div>

    <div style='display: none;'>
        <h1>UNEXPO BARQUISIMETO</h1>
        <h1>Universidad Nacional Experimental Politécnica "Antonio José de Sucre"</h1>
        <h1>Ingeniería Electrónica Barquisimeto</h1>
        <h2>Ingeniería Electrónica en Control</h2>
        <h2>Ingeniería Electrónica en Computación</h2>
        <h2>Ingeniería Electrónica en Comunicación</h2>
        <h3>Biblioteca de archivos sobre Ingeniería Electrónica  en Barquisimeto</h3>
        <h3>Información online sobre Ingeniería Electrónica Unexpo Barquisimeto</h3>
        <h3>Repositorio digital de material académico</h3>
    </div>
</footer>