 <!--$ Footer -->
<!--$ -------------------------------------------------- -->
<footer class='text-white bg-dark'>
    <div class="container">
        <div class="row text-center py-2">

            <div class="col-sm-4 my-auto">
                <p>Realizado por:</p>
                <p>Alejandro Aguilar</p>
                <p>Jose Salvador Peroza</p>
            </div>

            <div class='col-sm-4 my-auto'>
                <p>Accede también a la pagina oficial de la UNEXPO</p>
                <p><a href="www.bqto.unexpo.edu.ve">bqto.unexpo.edu.ve</a></p>
            </div>

            <div class='col-sm-4 my-auto'>
                <image src='images/Promo56190.png' class='img-fluid' width='120px' height='120px'></image>
            </div>
    
        </div>
    </div>

    <div class="col-12 text-center py-1" id='footer-copyright'>
            <h5>&copy; 2019 unexporepositorio.com</h5>
        </div>
</footer>