<!DOCTYPE html>
<html lang="en">
<head>  
    <title>Unexpo Cloud | <%= page %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/amsify.suggestags.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-4-navbar.min.css">
    <link rel="stylesheet" href="/stylesheets/filePreview.css" type="text/css">

    <script src="/javascripts/scrollreveal.min.js" type="text/javascript" ></script>
</head>