<% if(userIsLogged){ %>
    <div id='welcome-user' class='container-fluid'>
        <% if(user.role == 'admin'){ %>
            <span >Conectado como: </span><%= user.username %><span> - Admin</span> 
        <% }else{ %>
            <span >Conectado como: </span><%= user.username %>
        <% } %>
    </div>
<% } %>

<!--$ navigation Bar -->
<!--$ -------------------------------------------------- -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a alt='Unexpo' class="navbar-brand" href="/"><img src='/images/logo.png' class='mr-1' width="55px" height="45px">Unexpo</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id='navbar-toggler'>
        <ul class='navbar-nav nav-pills'>
            <li><a href='/' class='nav-link'><i class="fa fa-home mx-1" style="font-size: 20px"></i>Inicio</a></li>
            <li ><a href='/files' class='nav-link'><i class="fa fa-book mx-1" style="font-size: 20px"></i>Biblioteca</a></li>
        </ul>

        <ul class='navbar-nav ml-auto nav-pills'>

            <li><a href="/faq" class="nav-link"><i class="fa fa-question-circle mx-1" style="font-size: 20px"></i>Ayuda</a></li>
            <li><a href="/files/search" class="nav-link"><i class="fa fa-search mx-1" style="font-size: 20px"></i>Buscar</a></li>

            <% if(!userIsLogged){ %>
                <li><a href="/auth/login" class="nav-link"><i class="fas fa-sign-in-alt mx-1" style="font-size: 20px"></i>Entrar</a></li>
            <% }else{ %>
                <% if(user.role == 'admin'){ %>
                    <li><a href="/files/admin" class="nav-link"><i class="fas fa-user-shield mx-1" style="font-size: 20px"></i>Admin</a></li>
                <% } %>
                <li><a href="/upload" class="nav-link"><i class="fa fa-upload mx-1" style="font-size: 20px"></i>Subir</a></li>
                <li><a href="/user/files?id=<%= user.googleId %>" class="nav-link"><i class="fa fa-user mx-1" style="font-size: 20px"></i>Perfil</a></li>
                <li><a href="/auth/logout" class="nav-link"><i class="fas fa-sign-out-alt mx-1" style="font-size: 20px"></i>Salir</a></li>
            <% } %>
            

        </ul>
    </div>     
</nav>
<!--$ -------------------------------------------------- -->
