<nav class='navbar navbar-expand-sm navbar-light justify-content-between' style="background-color: #9dcbec;">


    <div class="container-fluid">
        
        <a class="navbar-brand" href="http://www.bqto.unexpo.edu.ve/" target='_blank'>
            <img src='/images/Unexpo-Logo.png' width="60" height="50" alt="unexpo-logo">
            UNEXPO
        </a>

        <ul class="nav navbar-nav">
                <li class="nav-item" id ="home"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item" id="general"><a class="nav-link" href="/files?category=General&page=1">General</a></li>
                <li class='nav-item' id='computacion'><a class="nav-link" href="/files?category=Computacion&page=1">Computacion</a></li>
                <li class='nav-item' id='comunicaciones'><a class="nav-link" href="/files?category=Comunicaciones&page=1">Comunicaciones</a></li>
                <li class='nav-item' id='control'><a class="nav-link" href="/files?category=Control&page=1">Control</a></li>
                <% if(userIsLogged){ %>
                    <li class='nav-item' id='add-files'><a class="nav-link" href="/upload">Add File</a></li>
                <% } %>
        </ul>



        <ul class="nav navbar-nav navbar-right">

                <form class="form-inline" action="/files/search" method="GET">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" name='q'>
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
                
                <% if(!userIsLogged){ %>
                    <li class="nav-item" id="login"><a class="nav-link" href="/auth/login">Login</a></li>
                <% }else{ %>
                    <li class="nav-item" id="logout"><a class="nav-link" href="/auth/logout">Logout</a></li>
                <% } %>
        </ul>

    </div>




</nav>
