<!--$ navigation Bar -->
<!--$ -------------------------------------------------- -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="/"><img src='images/Unexpo-Logo.png' width="55px" height="45px">Unexpo</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id='navbar-toggler'>
        <ul class='navbar-nav nav-pills'>
            <li><a href='/' class='nav-link'><i class="fa fa-home mx-1" style="font-size: 20px"></i>Inicio</a></li>
        
            <li class='nav-item dropdown'>
                <a href='#' class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book mx-1" style="font-size: 20px"></i>Biblioteca</a>
                <div class='dropdown-menu'>
                    <a class="dropdown-item" href="#">Todos los Archivos</a>

                    <a class="dropdown-item dropdown-toggle" href="#">Por Mencion</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">General</a>
                            <a class="dropdown-item" href="#">Computacion</a>
                            <a class="dropdown-item" href="#">Comunicaciones</a>
                            <a class="dropdown-item" href="#">Control</a>
                    </div>

                    <a class="dropdown-item dropdown-toggle" href="#">Por Semestre</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">IV</a>
                            <a class="dropdown-item" href="#">V</a>
                            <a class="dropdown-item" href="#">VI</a>
                            <a class="dropdown-item" href="#">VII</a>
                            <a class="dropdown-item" href="#">VIII</a>
                            <a class="dropdown-item" href="#">IX</a>
                        </div>
                </div>
            </li>
        </ul>

        <ul class='navbar-nav ml-auto nav-pills'>

            <li><a href="#" class="nav-link"><i class="fa fa-search mx-1" style="font-size: 20px"></i>Buscar</a></li>

            <% if(!userIsLogged){ %>
                <li><a href="/auth/login" class="nav-link"><i class="fas fa-sign-in-alt mx-1" style="font-size: 20px"></i>Entrar</a></li>
            <% }else{ %>
                <li><a href="/upload" class="nav-link"><i class="fa fa-upload mx-1" style="font-size: 20px"></i>Subir</a></li>
                <li><a href="/files/profile" class="nav-link"><i class="fa fa-user mx-1" style="font-size: 20px"></i>Perfil</a></li>
                <li><a href="/auth/logout" class="nav-link"><i class="fas fa-sign-out-alt mx-1" style="font-size: 20px"></i>Salir</a></li>
            <% } %>
            

        </ul>
    </div>     
</nav>
<!--$ -------------------------------------------------- -->
