<% include partials/head %> 

<body>
<% include partials/menu-navbar %>
<%- messages('partials/flash-messages', locals) %>

<br>
<div class='container'>
    <div class='faqcard'>
        <div class='card-body'>
            <h3 class='card-tile text-center' style="font-weight: bold;">Preguntas frecuentes</h3>
             <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
                <div class="container">
                
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                          <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                              ¿Qué es UNEXPO CLOUD? 
                            </a>
                          </h3> 
                        </div> 
                        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                          <div class="panel-body px-3 mb-4">
                            <p>Es un repositorio de archivos, es decir, un espacio en el que se almacena información 
                                digital, en esta ocasión orientado a utilizarse para compartir material de apoyo académico 
                                para asignaturas de Ingeniería Electrónica de la UNEXPO VR-BQTO</p>
                            <br>
                            <p> <b>¿Cómo manejamos la situación con los derechos de autor del material? </b></p> 
                            <p> Es cierto que el material subido a UNEXPOCLOUD puede estar protegido por derechos de autor, sin embargo
                              el uso de estos materiales es esencial en el proceso de aprendizaje. Leyes internacionales de derecho de autor
                              dictan que estos no son violentados si "el único propósito es de ilustración para la instrucción", es decir, para propósitos
                              educativos. De la misma manera el repositorio cumple con las siguientes condiciones:
                              <ul>
                                <li>El uso no es comercial</li>
                                <li>Hay suficiente reconocimiento de la autoría del material</li>
                                <li>Los usuarios son informados de la situación y se les exhorta a ser cuidadosos con lo que publican, al mismo tiempo que se les solicitada
                                  indicar la condición en la que publican el material: Con autorización de distribución o sin ella. </p>
                                </li>
                            </ul>
                            </p>
                           </div> 
                        </div> 
                      </div>
                      
                      <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                          <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                              ¿Cómo puedo publicar contenido?
                            </a>
                          </h3>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                          <div class="panel-body px-3 mb-4">
                            <p>Tal como se explica en la <a href="/">página principal</a>, UNEXPO CLOUD utiliza
                            el correo institucional UNEXPO para la autenticación de estudiantes y profesores. De esta forma
                            nos aseguramos de que el material de apoyo académico sea publicado por personas pertenecientes
                            a la comunidad universitaria y familiarizadas con el tema. </p>
                            <br>
                            <p>Una vez conozcas los datos de tu correo institucional, puedes <a href="/auth/login">acceder</a> a 
                                la plataforma como estudiante o profesor y <a href="/upload">publicar</a> contenido, 
                                llenando de la mejor forma la información solicitada para facilitarle a otros usuarios el uso
                                del material.
                            </p>
                                
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                          <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                              ¿Que diferencias tiene entrar como estudiante y como profesor?
                            </a>
                          </h3>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                          <div class="panel-body px-3 mb-4">
                            <p>Al acceder como estudiante, la plataforma le otorga al usuario permisos para publicar contenido y así contribuir con
                                la comunidad universitaria en su formación académica. Los estudiantes pueden editar y eliminar sus publicaciones. Confíamos 
                                en que los contribuyentes de este repositorio Web harán su mejor esfuerzo para ayudar a sus compañeros estudiantes de la manera apropiada.
                            <br>
                            <p>Ingresar a UNEXPO CLOUD como profesor permite realizar publicaciones y a su vez les hace posible
                                ejecutar funciones de administrador del repositorio por lo que los profesores pueden:
                                <ul>
                                    <li>Editar la información de publicaciones de cualquier usuario.</li>
                                    <li>Eliminar publicaciones de cualquier usuario.</li>
                                    <li>Acceder a un panel especial de gestión de archivos dentro del cual podrán realizar
                                        tareas administrativas del repositorio para asegurarse de que el contenido
                                        sea adecuado y esté actualizado. </p>
                                    </li>
                                </ul>
                            </p>
                                
                          </div>
                        </div>
                      </div>
                                            
                      <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                          <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                              ¿Qué limitaciones tiene el sitio Web si no inicio sesión?
                            </a>
                          </h3>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                          <div class="panel-body px-3 mb-4">
                            <p>El repositorio UNEXPO CLOUD le permite a cualquier visitante revisar libremente todo el contenido
                                publicado, sin embargo: </p>
                            <ul>
                                <li>Si el visitante tiene una sesión activa como estudiante, éste hereda las funcionalidades 
                                    disponibles para un visitante sin sesión y adquiere la capacidad de publicar 
                                    contenido y editarlo o eliminarlo, solamente si éste fue publicado por él.
                                </li>
                                <li>Los profesores que inicien sesión en el repositorio heredan las funcionalidades 
                                    de los estudiantes, pero a su vez obtiene privilegios de administrador, con los que, entre 
                                    otras cosas, puede editar o eliminar las publicaciones de cualquier usuario.
                                </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      
                      <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                          <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                              ¿De qué formas puedo filtrar las publicaciones?
                            </a>
                          </h3>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                          <div class="panel-body px-3 mb-4">
                            <p>En la <a href="/files">biblioteca de archivos</a> están disponibles varias opciones
                            para filtrar las publicaciones presentes en el repositorio. Las principales categorías 
                            dividen los archivos por mención (comunicaciones, control y computación), por semestre
                            (desde el cuarto hasta el noveno semestre) y por tipo de archivo (documentos, imagenes, 
                            aplicaciones, entre otros)
                            </p>
                            <br> 
                            <p>Por otro lado, los archivos también se pueden filtrar los archivos en base a etiquetas,
                            es decir, palabras o frases que al hacer clic en ellas se muestran todos los archivos que 
                            poseen la misma etiqueta. Otra opción de filtrado de documentos es que al hacer clic en el
                            nombre del usuario que publicó un archivo, se mostrarán todas las contribuciones de ese usuario
                            particular. 
                            </p>
                            <br> 
                            <p> Como ultima opción de filtrado de publicaciones, se puede acceder a la página de 
                            <a href="/files/search">busqueda</a>, la cual al escribir algo en la barra, actualiza
                            el resultado instantameante comparando lo escrito por el usuario con los títulos y descripciones de las
                        publicaciones. </p>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
                          <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                              ¿Por qué no funciona la vista previa para todos los archivos en la página de subida?
                            </a>
                          </h3>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                          <div class="panel-body px-3 mb-4">
                            <p>Para la <a href="/upload">página de publicación</a> se utilizó una tecnología de vista previa que
                              realiza una comunicación con un servidor externo para proveer vista previa a archivos no soportados
                              nativamente con el navegador Web. Es por este motivo que para algunos tipos de archivos, el navegador 
                              renderiza correctamente la vista previa, mientras que para otros archivos, UNEXPO CLOUD está configurado
                              para mostrar un ícono.
                            </p>
                            </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
                          <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                              Términos de uso de UNEXPO CLOUD
                            </a>
                          </h3>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                          <div class="panel-body px-3 mb-4">
                            <p>
                              El objetivo de UNEXPO CLOUD es contribuir con el desarrollo académico de la comunidad
                              universitaria UNEXPO, sin embargo, la distribución de contenido sin la autorización
                              del autor es responsabilidad totalmente del publicador. 
                            </p>
                            <br>
                              <p>La plataforma NO se hace responsable de infracciones de derecho de autor debido a que 
                              no tiene un mecanismo para corroborar si se está o no cometiendo infracciones al momento 
                              de publicar archivos.
                              </p>
                            </div>
                        </div>
                      </div>
                    </div>
                
                </div>
              </section>

        </div>
    </div>
</div>   
       
<style>
    
 </style>

<% include partials/footer %>
<% include partials/frontend-scripts %>
</body>

</html>