<% include partials/head %> 

<body>
<% include partials/menu-navbar %>
<%- messages('partials/flash-messages', locals) %>

<br>
<div class='container'>
    <div class='card'>
        <div class='card-body'>

            <h3 class='card-tile text-center' style="font-weight: bold;">Preguntas Frecuentes</h3>

            <p class='question'>1. PREGUNTA 1 ?</p>
            <p class='answer'>super Repuesta de la pregunta 1 </p>

            <p class='question'>2. PREGUNTA 1 ?</p>
            <p class='answer'>super Repuesta de la pregunta 2 </p>

            <p class='question'>3. PREGUNTA 1 ?</p>
            <p class='answer'>super Repuesta de la pregunta 3 </p>

            <p class='question'>4. PREGUNTA 1 ?</p>
            <p class='answer'>super Repuesta de la pregunta 4 </p>

            <p class='question'>5. PREGUNTA 1 ?</p>
            <p class='answer'>super Repuesta de la pregunta 5 </p>

            <p class='question'>6. PREGUNTA 1 ?</p>
            <p class='answer'>super Repuesta de la pregunta 6 </p>

            <p class='question'>7. PREGUNTA 1 ?</p>
            <p class='answer'>super Repuesta de la pregunta 7 </p>

        </div>
    </div>
</div>


<style>
    .question{
        font-weight: bolder;
    }
    .answer{
        margin-left: 15px;
        color: #076ff4e6;
    }
    .card{
        background-color: #d7d1c9a3;
    }
</style>

<% include partials/footer %>
<% include partials/frontend-scripts %>
</body>

</html>