<% include partials/head %> 

<body>
  <% include partials/menu-navbar %>
  <%- messages('partials/flash-messages', locals) %>

  <!--$ Welcome Text-->
    <!--$ -------------------------------------------------- -->
    <div id='welcomeText'>
      <div class='container'>
          <h1 class="display-1 text-center">Unexpo Cloud</h1>
          <p class="lead text-center">Para poder utilizar todas las funciones del sitio Web y para 
            poder subir contenido usted debe utilizar su correo institucional UNEXPO 
            para acceder a este sitio. Si no sabe como utilizarlo, más abajo le explicamos como hacerlo
          </p>
      </div>
  </div>
  <!--$ -------------------------------------------------- -->

  <!--$ About the Website-->
  <!--$ -------------------------------------------------- -->
  <div class='container my-3' id='about'>

      <div class='jumbotron'>
          <h1 class='text-center'>Sobre el sitio</h1><hr>
          <p class='text-center'>"Unexpo cloud" es un sitio Web destinado al almacenamiento de
            material de apoyo académico relacionado con la Ingenier&iacute;a Electr&oacute;nica para 
            el uso libre de estudiantes y profesores especialmente de la UNEXPO VRBQTO pero también de
            cualquier interesado
          </p>
      </div>
      <hr>

      <div class='row my-1'>
          <div class='col-md-8 my-1' id='about1-text'>
              <h1>Informaci&oacute;n en solo lugar</h1>
              <p>Toda la informaci&oacute;n que necesitas, disponible para ti en un solo lugar. No te preocupes
                más por conseguir el material en físico ni por sus costos de impresión.
              </p>
              <a href='/files' class='btn btn-primary'>Ver Ahora</a>
          </div>
          <div class='col-md-4 my-1' id='about1-img'>
              <image src='images/information.jpeg' class='img-fluid' height='280px' style="object-fit: cover;" alt='Unexpo cloud - información'></image>
          </div>
      </div>
      <hr>

      <div class='row my-1'>
          <div class='col-md-4 my-1' id='about2-img'>
              <image src='images/contribuye.jpg' class='img-fluid' height='300px' alt='Unexpo Cloud - Contribuye'></image>
          </div>
          <div class='col-md-8 my-1' id='about2-text'>
              <h1>Contribuye</h1>
              <p>Si eres estudiante activo o profesor perteneciente a la
                Universidad Nacional Experimental Politécnica "Antonio José de 
                Sucre" Vicerrectorado Barquisimeto puedes publicar material de uso académico relacionado a las
                asignaturas dictadas en el departamento y así apoyar a la comunidad universitaria
              </p>
              <% if(userIsLogged){ %>
                    <a href='/upload' class='btn btn-primary'>Contribuye Ahora</a>
                    
              <% }else{%>
                    <a href='/auth/login' class='btn btn-primary'>Contribuye Ahora</a>
              <% } %>
          </div>
      </div>
      <hr>
  </div>
  <!--$ -------------------------------------------------- -->

  <!--$ Website Instructions -->
  <!--$ -------------------------------------------------- -->
  <div class='container'>

      <div class='jumbotron text-center'>
          <h1>Como utilizar el correo estudiantil</h2>
          <hr>
          <p>Este sitio Web utiliza el correo institucional UNEXPO como mecanismo de autenticación.
            Si no conoces tu correo institucional debes acceder a la <a href='http://www.bqto.unexpo.edu.ve'>página de la Universidad</a>
            , entrar al sistema de servicios en linea y realizar los siguientes pasos
          </p>
      </div>

      <!--% Instructions Carousel -->
      <div class="carousel slide" data-ride="carousel" id='instructions'>
          <!--% Indicators -->
          <ul class="carousel-indicators">
              <li data-target="#instructions" data-slide-to="0" class="active"></li>
              <li data-target="#instructions" data-slide-to="1"></li>
              <li data-target="#instructions" data-slide-to="2"></li>
          </ul>

          <!--% The slideshow -->
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="images/Proceso1.jpg" class='img-fluid' alt='Unexpo Cloud - instruccion 1'>
              </div>
              <div class="carousel-item">
                  <img src="images/Proceso2.jpg" class='img-fluid' alt='Unexpo Cloud - instruccion 2'>
              </div>
              <div class="carousel-item">
                  <img src="images/Proceso3.jpg" class='img-fluid' alt='Unexpo Cloud - instruccion 3'>
              </div>
          </div>

           <!--% Left and right controls -->
          <a class="carousel-control-prev" href="#instructions" data-slide="prev">
              <i class='fa fa-chevron-circle-left'></i>
          </a>
          <a class="carousel-control-next" href="#instructions" data-slide="next">
                  <i class='fa fa-chevron-circle-right'></i>
          </a>
      </div>
      <hr>
      
  </div>
  <!--$ -------------------------------------------------- -->

  <script>
    ScrollReveal().reveal('#welcomeText .container', {
        origin: 'right',
        duration: 1100,
        distance: '1000px',
    });
    ScrollReveal().reveal('#about1-text', {
        origin: 'left',
        duration: 1400,
        distance: '200px'
    });
    ScrollReveal().reveal('#about1-img', {
        origin: 'top',
        duration: 1400,
        distance: '200px'
    });
    ScrollReveal().reveal('#about2-img', {
        delay: 200,
        origin: 'bottom',
        duration: 1400,
        distance: '200px'
    });
    ScrollReveal().reveal('#about2-text', {
        delay: 200,
        origin: 'right',
        duration: 1400,
        distance: '200px'
    });
    ScrollReveal().reveal('.carousel', {
        origin: 'right',
        duration: 1100,
        distance: '400px',
        rotate: {
            x: 20,
            z: 40,
         },
         scale: 0.4
    });
  </script>

  <% include partials/footer %>
  <% include partials/frontend-scripts %>
</body>

</html>