<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>

<body>
    <% include partials/menu-navbar %>

    <div class="container-fluid bg-3 text-center">    
        <h3>Login</h3><br>
    </div>

    <div class='container'>

      <form class="col-lg-4 offset-lg-4" action="/user/login" method="POST">

        <%- messages('partials/flash-messages', locals) %>

          <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control"aria-describedby="emailHelp" placeholder="Enter email" name="email" id='emailInput'>
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="passwordInput1">Password</label>
            <input type="password" class="form-control" placeholder="Password" name='password' id="passwordInput1">
          </div>
    
          <button type="submit" class="btn btn-primary">Login</button>
      </form>
    
    </div>
    
    <% include partials/frontend-scripts %>
</body>

</html>