<!DOCTYPE html>
<html lang="en">
  <style>
    
    </style>
<head>
  <% include partials/head %> 
</head>

<body>
    <% include partials/menu-navbar %>
  <!-- OLD BUTTONS -->
   <!-- <div class="container-fluid bg-3 text-center">    
      <h1 class="display-2 text-center">Inicia sesión</h1>
    </div>

     <div class='container'>

      <form class="col-lg-4 offset-lg-4">
        <br>
        <%- messages('partials/flash-messages', locals) %>
        <a href= '/auth/login/student' class="btn btn-outline-warning btn-block btn-lg"> <i class="fab fa-google mr-2"></i> 
          Entrar como estudiante</a>
        <a href= '/auth/login/professor' class="btn btn-outline-info btn-block btn-lg"> <i class="fab fa-google mr-2"></i> 
          Entrar como profesor</a>
      </form>
    </div> -->
  
   <!-- <div class="row"> -->
    <div class="container-fluid">     
    <div class="row d-flex justify-content-center">
  
    <div class="container1">
      <a href='/auth/login/student'> 
        <picture>
        <source srcset="/images/EstudiantesVert.png" media="(orientation: portrait)">
        <source srcset="/images/Estudiantes.png">
          <img srcset="/images/Estudiantes.png" a href='/auth/login/professor' class="image1" style="width:100%">
      </picture></a>
      <div class="LogEst">
        <div class="textoLogin">Acceder como estudiante</div>
    </div>
    </div>
     <div class='container2'>
      <a href='/auth/login/professor'><picture>
        <source srcset="/images/ProfesoresVert.jpg" media="(orientation: portrait)">
        <source srcset="/images/Profesores.jpg">
        <img srcset="/images/Profesores.jpg" a href='/auth/login/professor' class="image2" style="width:100%">
    </picture> </a>      
      <div class="LogProf"> 
        <div class="textoLogin">Acceder como profesor </div>
      </div>
    </div>
  </div>
</div>

   <% include partials/frontend-scripts %>
</body>
<footer>
  <% include partials/footer %>
</footer>
</html>