<% include partials/head %> 

<body style="background-color: #212529">
  <% include partials/menu-navbar %>
  <%- messages('partials/flash-messages', locals) %>

  <div class='container' >
    <div class='row'>

      <div class='col-sm-6 login-box'>
        <h3 style='color: #9fc2df'class='text-center'>Entrar Como Estudiante</h3>
        <image class='img-login' src="/images/student.jpeg"></image>
      </div>

      <div class='col-sm-6 login-box'>
        <h3 style='color: #b89343;' class='text-center'>Entrar Como Profesor</h3>
        <image class='img-login' src="/images/profesor.jpg"></image>
      </div>

    </div>

  </div>

  <!--
  <a href= '/auth/login/student' class="btn btn-info btn-block">Login as Student</a>
  <a href='/auth/login/professor' class="btn btn-secondary btn-block">Login as Professor</a>
  -->
      
  <% include partials/footer %>
  <% include partials/frontend-scripts %>
</body>

</html>