<% include partials/head %> 

<body>
    <% include partials/menu-navbar %>
    <%- messages('partials/flash-messages', locals) %>''

    <br>
    <div class="container-fluid bg-3 text-center">    
        <h3>Subir Documento</h3><br>
    </div>

    <div class='container'>
    
      <form  action="/upload" method="POST" enctype="multipart/form-data">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Título</span>
          </div>
          <input type="text" class="form-control" name="title">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Autor</span>
          </div>
          <input type="text" class="form-control" name="author">
        </div>
  
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Descripción</span>
          </div>
          <textarea class="form-control"  name="description"></textarea>
        </div>

        <div class='form-row'>

          <div class="col-6 my-3">
            <label class="input-group-text" style="border-bottom: 0;">Semestre</label>
            <select class="custom-select mr-sm-2" name="semester">
              <option value='ninguno'>Ninguno</option>
              <option value='IV'>Cuarto</option>
              <option value='V'>Quinto</option>
              <option value='VI'>Sexto</option>
              <option value='VII'>Septimo</option>
              <option value='VIII'>Octavo</option>
              <option value='IX'>Noveno</option>
            </select>
          </div>

          <div class="col-6 my-3">
            <label class="input-group-text" style="border-bottom: 0;">Mención</label>
            <select class="custom-select mr-sm-2" name="mention" id="inlineFormCustomSelect">
              <option value='computación'>Computación</option>
              <option value='comunicaciones'>Comunicaciones</option>
              <option value='control'>Control</option>
              <option value='general' selected>General</option>
            </select>
          </div>

        </div>
  
        <label class="input-group-text" style="border-bottom: 0;">Archivo</label>
        <div class="file">
          <input id="file" name="file" type="file" data-browse-on-zone-click="true">
        </div> 

        <br>
        <div class='form-group'> 
          <label for="tagsInput" class="input-group-text" style="border-bottom: 0;">Agrega etiquetas (opcional)</label>
          <input type="text" name='tags' id='tagsInput'>
          <small class="form-text text-muted">Separa las etiquetas con comas, por ejemplo: imagen, guia, ...</small>
        </div>
  
        <br><button type="submit" class="btn btn-primary btn-block">Publicar</button>
      </form>   
    
    </div>

    <% include partials/footer %>
    <% include partials/frontend-scripts %>
    <link rel="stylesheet" href="/stylesheets/uploadFile.css">
    <script src='/javascripts/uploadFile.js'></script>
    <script src='/javascripts/tagsinput.js'></script>

</body>

</html>