<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>

<body>
    <% include partials/menu-navbar %>

    <div class="container-fluid bg-3 text-center">    
        <h3>Upload a file</h3><br>
    </div>

    <div class='container'>

      <form class="col-lg-4 offset-lg-4" action="/upload" method="POST" enctype="multipart/form-data">

        <%- messages('partials/flash-messages', locals) %>

        <div class='form-group'>
          <label for="titleInput">File Title</label>
          <input type='text' class='form-control' placeholder='Title' name="title" id="titleInput">
        </div>

        <div class='form-group'>
          <label for="descriptionInput">File Description</label>
          <textarea class='form-control' placeholder='Description' name="description" id="descriptionInput"></textarea>
        </div>

        <div class='form-group'>
          <label for="categoryInput">Choose a Category</label>
          <select class="form-control" id="categoryInput" name='category'>
            <option>General</option>
            <option>Computacion</option>
            <option>Comunicaciones</option>
            <option>Control</option>
          </select>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" name='file'>
          <label class="custom-file-label" for="customFile">Choose file</label>
          <small class="form-text text-muted">File not greater than 100mb.</small>
        </div><br>

       

        <br><button type="submit" class="btn btn-primary btn-block">Upload</button>
      </form>
    
    </div>

    
    <% include partials/frontend-scripts %>

    <script>
      //= script to view the name of the file on select
      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
    </script>
</body>

</html>